html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

:root {
    --text-clr1: purple;
    --text-clr2: rgb(31 41 55);
    --nav-active-clr: rgb(148, 37, 148);
    --box-shadow-clr: rgb(145, 140, 140);
    --text-shadow-clr: rgb(192, 75, 192);
}

div {
    display: block;
}

/* ----------------------Navigation -----------------------------------------------------*/

.navigation {
    display: flex;
    list-style: none;
    color: var(--text-clr1);
    justify-content: space-around;
    box-shadow: 10px 8px 10px var(--box-shadow-clr);
    padding: 15px;
}

.navigation li a {
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    text-transform: uppercase;
    /* text-shadow: 9px 3px 5px var(--text-shadow-clr); */
}

.navigation li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-clr1);
    text-decoration-thickness: 3px;
}

.navigation li a:active {
    color: var(--nav-active-clr);

}

/* ----------------------About-----------------------------------------------------*/
#about {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.username {
    color: var(--text-clr1);
    font-size: xx-large;
    /* text-align: center; */
    margin-left: 60px;
    margin-top: 45px;
    text-decoration: underline;
    text-decoration-color: var(--nav-active-clr);
    text-decoration-style: double;
}

.bio {
    color: var(--text-clr2);
    font-weight: bold;
    font-size: larger;
    margin-left: 60px;
    /* text-align: center; */
    margin-top: 30px;
}

.profile {
    margin-top: 40px;
    width: 200px;
    border-radius: 156px;
    box-shadow: 0px 6px 10px 2px var(--box-shadow-clr);
}

/* ------------------------Social Media -------------------------------------------------- */

#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media-icon {
    margin: 20px 55px 0px 55px;
}

/* ------------------Skills and Qualification -------------------------------- */

#qualifications-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: larger;
}

#qualifications-list h1 {
    color: var(--text-clr2);
    display: block;
    padding-top: 20px;
}

#qualifications-list ul li {
    list-style-position: inside;
    margin-left: 60px;
    padding: 0px 0px 10px 0px;
}

#qualifications-list img {
    width: 200px;
    border-radius: 200px;
}

/* --------------------Tech Stack  ---------------------------- */

#tech {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    font-size: larger;
}

#tech h1 {
    margin-bottom: 10px;
    color: var(--text-clr2);
}

.card-techstack {
    display: inline;
}

.card-techstack span {
    border: 2px solid var(--text-clr1);
    padding: 5px;
    color: var(--text-clr2);
}

/*  -------------Projects ------------------------------------- */
#projects {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: larger;
}

#projects h1 {
    color: var(--text-clr2);
    margin-right: 562px;
}
#projects ul{
    list-style: none;
}
#projects ul li a {
    color: navy;
    padding-top: 80px;
    text-decoration: none;

}
/* --------------Footer ----------------------------------------- */

footer {
    margin-top: 30px;
    box-shadow: 0px -6px 10px 2px var(--box-shadow-clr);
}
footer h1 {
    text-align: center;
    color: var(--text-clr2);

}
/* ___________MOBILE________________________________________________ */
@media only screen and (max-width:800px){   
    /* ----------------------Navigation -----------------------------------------------------*/
    
    .navigation {
        width: 120vw;
    }
    
    /* ----------------------About-----------------------------------------------------*/   
    .username {
        color: var(--text-clr1);
        font-size: large;
        /* text-align: center; */
        margin-left: 15px;
        margin-top: 60px;
        text-decoration: underline;
        text-decoration-color: var(--nav-active-clr);
        text-decoration-style: double;
    }
    
    .bio {
        color: var(--text-clr2);
        font-weight: bold;
        font-size:smaller;
        margin-left: 15px;
        /* text-align: center; */
        margin-top: 10px;
    }
    
    .profile {
        margin-top: 50px;
        width: 140px;
        margin-left: 15px;
        border-radius: 156px;
        box-shadow: 0px 0px 20px 10px var(--box-shadow-clr);
    }
    
    /* ------------------------Social Media -------------------------------------------------- */
    
    .social-media-icon {
        margin: 20px 11px 0px 11px;
    }
    
    /* ------------------Skills and Qualification -------------------------------- */
    
    #qualifications-list {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: medium;
    }
    
    #qualifications-list img {
        width: 140px;
        border-radius: 200px;
    }
    
    /* --------------------Tech Stack  ---------------------------- */
    
    #tech {
        font-size: medium;
    }
    
    #tech h1 {
        margin-bottom: 10px;
        color: var(--text-clr2);
    }
    
    .card-techstack {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    
    .card-techstack span {
        border: 2px solid var(--text-clr1);
        padding: 5px;
        color: var(--text-clr2);
    }
    
    /*  -------------Projects ------------------------------------- */
    #projects {
        display: block;
        font-size: medium;
    }
    
    #projects ul li a {
        color: navy;
        text-decoration: none;
        display: block;
        padding: 10px;
        margin-left: 60px;
        font-size: larger;
    
    }
    
    /* --------------Footer ----------------------------------------- */
    
    footer {
        margin-top: 0px;
    }
    hr{
        width: 125vw;
    }
    
    footer h1 {
        text-align: center;
        justify-content: center;
        color: var(--text-clr2);
        align-items: center;
        margin-left:50px ;
    }
}
